# Ignore everything by default
*
# Allow specific files
!backend/server.mjs
!cookies.txt
!eslint.config.mjs
!index.html
!package.json
!server.js
!requirements.txt
!start_servers.sh
!style.css
!upload.js